.cta-button {
	background-color: #cf3781;
	padding: 8px 20px 8px 20px;
	border-radius: 8px;
	color: white;
	font-weight: bold;
}

.paper-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
	display: flex;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease;
}
.paper-overlay.is-visible {
	visibility: visible;
	opacity: 1;
	backdrop-filter: blur(2px);
	background: #000a;
}

.paper-overlay.paper-modal {
	align-items: center;
	justify-content: center;
}

.paper-overlay.paper-drawer {
	margin: 0;
	justify-content: flex-end;
}

.drawer-dialog {
	position: relative;
	visibility: hidden;
	opacity: 0;
	right: -10%;
	transition: all 0.2s ease;
}
.is-visible .drawer-dialog {
	visibility: visible;
	opacity: 1;
	right: 0;
}

.modal-dialog {
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	visibility: hidden;
	opacity: 0;
	top: 5%;
	transition: all 0.2s ease;
}
.is-visible .modal-dialog {
	visibility: visible;
	opacity: 1;
	top: 0;
}

.modal-close-button {
	position: absolute;
	border-radius: 8px;
	font-size: x-large;
	padding: 0 0.4em;
	color: #888;
}
.modal-close-button:hover {
	background: #8882;
}
.modal-dialog .modal-close-button {
	top: 0.1em;
	right: 0.2em;
}
.drawer-dialog .modal-close-button {
	top: 0.1em;
	left: 0.2em;
}
